h3 {
    color: #2F8F9D;

}
p {
    color: #3BACB6;
}
h2 {
    color: #2F8F9D;
}
h1 {
    color: #2F8F9D;
}
table {
    color: #3BACB6;
}
ul {
    color: #2F8F9D;
}
table {
    border-color: #2F8F9D;
}
.btn {
    background: #3BACB6;
    background-image: -webkit-linear-gradient(top, #3BACB6, #82DBD8);
    background-image: -moz-linear-gradient(top, #3BACB6, #82DBD8);
    background-image: -ms-linear-gradient(top, #3BACB6, #82DBD8);
    background-image: -o-linear-gradient(top, #3BACB6, #82DBD8);
    background-image: linear-gradient(to bottom, #3BACB6, #82DBD8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #3BACB6;
    font-family: Arial;
    color: #2F8F9D;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #2F8F9D;
    background-image: -webkit-linear-gradient(top, #2F8F9D, #3BACB6);
    background-image: -moz-linear-gradient(top, #2F8F9D, #3BACB6);
    background-image: -ms-linear-gradient(top, #2F8F9D, #3BACB6);
    background-image: -o-linear-gradient(top, #2F8F9D, #3BACB6);
    background-image: linear-gradient(to bottom, #2F8F9D, #3BACB6);
    text-decoration: none;
  }
  button {
      color: #2F8F9D;
  }