h3 {
    color: #2F8F9D;

}
p {
    color: #3BACB6;
}
h2 {
    color: #2F8F9D;
}
h1 {
    color: #2F8F9D;
}
table {
    color: #3BACB6;
}
ul {
    color: #2F8F9D;
}
table {
    border-color: #2F8F9D;
}





