

header {
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0px;
    font-size: xx-large;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
    



}
body {
    margin-top: 200px;
    padding: 20px;
    font-size: x-large;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
    font-stretch: wider;
}
h3 {
    color: #2F8F9D;

}
p {
    color: #3BACB6;
}
h2 {
    color: #2F8F9D;
}
h1 {
    color: #2F8F9D;
}
table {
    color: #3BACB6;
}
ul {
    color: #2F8F9D;
}

hr{
    background-color: #2F8F9D;
    border-style: none;
    height: 5px;
}



